extends layout

block content
  h1 #{title}
  hr
  
  p #[strong Category: ]
    a(href=item.category.url) #{item.category.name}
  p #[strong Price: ] #{item.price}
  p #[strong Quantity: ] #{item.quantity}
  p #[strong Description: ] #{item.description}
  
  hr